1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

ANSWER

*  
  Expression - it is a mathematical operator.

"hello"
  Value - it is a string.

-87.8
  Integer float - it is a value.

- 
  Expression - it is a mathematical operator.

/
  Expression - it is a mathematical operator.

+
  Expression - it is a mathematical operator.

6
  Value - it is an integer.

2. What is the difference between string and variable?

STRING:
   String is defined as any value that can be alphabet or sequence of alphabet or numeric that can be written inside the single quotes''or double quotes"".

   for example: name = "Darren" . 'Name' is variable which contain 'Darren' as a string.
   
VARIABLE:
   A variable is any characteristics, number or quantity that can be measured or counted.

   for example : vehicle_type = "petrol". vehicle_type is a variable name.

3. Describe three different data types.

There are three different data types. They are 
       1. Integer
       2. Float
       3. Complex Numbers
1. Integers:
     The value is represented by int class. It contains positive or negative whole numbers(without fraction or decimal)

Float:
    The value is represented by float class.It is a real number with floating point representation.It is specified by a decimal point.

Complex Numbers:
    Complex number is represented by complex class.It is specified as (real part)+(imaginary part).for eg., 2+3j


a = 5
print("Type of a: ", type(a))
  
b = 5.0
print("\nType of b: ", type(b))
  
c = 2 + 4j
print("\nType of c: ", type(c))

Output:

Type of a:  <class 'int'>

Type of b:  <class 'float'>

Type of c:  <class 'complex'>

In [10]:
a = 5 
print("type of a: ", type(a))

b = 5.0 
print("type of b: ", type(b))

c = 2 + 4j 
print("type of c: ", type(c))

type of a:  <class 'int'>
type of b:  <class 'float'>
type of c:  <class 'complex'>

4. What is an expression made up of? What do all expressions do?
      A combination of operands and operators is called an expression. The expression in Python produces some value or result after being interpreted by the Python interpreter.
      Operators	Syntax	Functioning
         +	     x + y	  Addition
         –	     x – y	  Subtraction
         *	     x * y	  Multiplication
         /	     x / y   	Division
         //	     x // y 	Quotient
         %	     x % y	  Remainder
         **	     x ** y	  Exponentiation
Example:

x =[15 + 1.3]  
print(x)

Output

16.3

Expression value = [16.3] is List

In [7]:
x = [15 + 1.3]
print(x)

[16.3]

5.This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

Expression is a combination of variables, operations and values that yields a result value.

5 * 5 # yields 25

Statements represent an action or command e.g print statements, assignment statements.

print 5*5

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

  The bacon variable is set to 22. The bacon + 1 expression does not reassign the value in bacon (that would need an assignment statement: bacon = bacon + 1)
  bacon = 22

  bacon+1     #22+1=23
   
  23

In [6]:
bacon = 22
bacon+1

23

7. What should the values of the following two terms be?
'spam'+'spamspam'
'spam' * 3
print('spam'+'spamspam')
print('spam'*3)

spamspamspam
spamspamspam

Both expressions evaluate to the string 'spamspamspam'

In [5]:
print('spam'+'spamspam')
print('spam'*3)

spamspamspam
spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?

         Eggs is a valid variable name while 100 is invalid because variable names cannot begin with a number.

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

   The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

A = 11
print(type(A))
B = 22.2
print(type(B))
C = "11"
print(type(C))

Output
<class 'int'>
<class 'float'>
<class 'str'>

In [2]:
A = 11
print(type(A))
B = 22.2
print(type(B))
C = "11"
print(type(C))

<class 'int'>
<class 'float'>
<class 'str'>

10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos'

The expression causes an error because 99 is an integer, and only strings can be concatenated to other strings with the + operator. 
   The correct way is 'I have eaten ' + str(99) + ' burritos'

In [3]:
print('I have eaten ' + str(99) + ' burritos')

I have eaten 99 burritos